body
{
    text-align: center;
}

h1, .majuscule
{
    text-transform: uppercase;
}

h1, h2
{
    color: white;
}

.nutrition h2, .quotidien h2
{
    color: black;
}

a
{
    list-style-type: none;
    font-weight: bold;
}

.evenements a:hover
{
    border-left: coral;
    color: coral;
    font-weight: normal;
}