body
{
    background: url(images/Hnet.com-image\ \(6\).jpg) no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

h1
{
    font-size: 8em;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

p
{
    font-size: 3em;
    /*margin-top: 0;*/
}

h1, p
{
    text-align: center;
    color: white;
}

nav ul
{
    list-style-type: none;
}

a
{
    color: white;
    margin-right: 20px;
    margin-top: 20px;
}

.hamburger
{
    display: flex;
    justify-content: flex-end;
}

.fa-customize
{
    font-size: 100px;
}

.description
{
    margin-bottom: 50px;
}

