@import 'config';

body {
    background: url(../imagebg.jpg);
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center; 
       

    li {
        list-style-type: none;
        background-color: white;
        border: 5px $accentcolor solid;
        text-align: center;
        font-size: 4em;
        margin: 10vh;
        padding: 0px 15px;

        a {
            color: $accentcolor;
            text-decoration: none;
        }
    }
  }
}

.croix_nav, .hamburger{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    i {
        color: white;
    }

    .fa-customize {
    font-size: 100px;
    }
}

h1{
    font-size: 8em;
}

p {
    font-size: 3em;
}

.tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    height: 80vh;
}

